{% extends 'YelpData/base.html'%}
{% block content %}

<h2>{{business.business_name}}</h2>

{% if business.business_name %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business Name</p>
        </div>
        <div class="col-sm-10">
            {{business.business_name | safe}}
        </div>
    </div>
{% else %}
    <p> No information! </p>
{% endif %}

{% if business.business_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business ID</p>
        </div>
        <div class="col-sm-10">
            {{business.business_id | safe}}
        </div>
    </div>
{% endif %}

{% if business.business_identifier %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business Yelp ID</p>
        </div>
        <div class="col-sm-10">
            {{business.business_identifier | safe}}
        </div>
    </div>
{% endif %}

{% if business.location %}
    <div class="row">
        <div class="col-sm-2">
            <p>Location</p>
        </div>
        <div class="col-sm-10">
            {{ business.location | safe }}
        </div>
    </div>
{% endif %}

{% if business.stars %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business Stars</p>
        </div>
        <div class="col-sm-10">
            {{business.stars | safe}}
        </div>
    </div>
{% endif %}

{% if business.review_count %}
    <div class="row">
        <div class="col-sm-2">
            <p>Review Count</p>
        </div>
        <div class="col-sm-10">
            {{business.review_count | safe}}
        </div>
    </div>
{% endif %}

{% if business.description %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business Description </p>
        </div>
        <div class="col-sm-10">
            {{business.description | safe}}
        </div>
    </div>
{% endif %}

{% endblock content %}

