{% extends 'YelpData/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<article>
    <header>
        <h2> Photo Inforamtion </h2>
    </header>

    {% include 'YelpData/pagination.html' %} 

    {% if photos %}
        {% for photo in photos %}
            <ul>
                <li><a href="{% url 'photo_detail' photo.pk %}">{{ photo.photo_identifier | safe }}</a></li>
            </ul>
        {% empty %}
            <p>No Photos' information are available to view.</p>
        {% endfor %}
        <p>page count: {{ photos.count }}</p>
    {% endif %}
</article>
{% endif %}
{% endblock content %}