{% extends 'YelpData/base.html' %}
{% block content %}

<h2>{{photo.photo_identifier}}</h2>

{% if photo.photo_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>Photo ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ photo.pthoto_id | safe }} </p>
        </div>
    </div>
{% endif %}


{% if photo.business_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ photo.business_id | safe }} </p>
        </div>
    </div>
{% endif %}

{% if photo.caption %}
    <div class="row">
        <div class="col-sm-2">
            <p> Caption </p>
        </div>
        <div class="col-sm-10">
            <p>{{ photo.caption }}</p>
        </div>
    </div>
{% endif %}

{% if photo.label %}
    <div class="row">
        <div class="col-sm-2">
            <p> Label </p>
        </div>
        <div class="col-sm-10">
            <p>{{ photo.label }}</p>
        </div>
    </div>
{% endif %}

{% endblock content %}