{% extends 'YelpData/base.html' %}
{% block content %}


<h2> {{review.review_identifier | safe}} </h2>

{% if review.review_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>Review ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.review_id }}</p>
        </div>
    </div>
{% endif %}

{% if review.user_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>User ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.user_id }}</p>
        </div>
    </div>
{% endif %}


{% if review.business_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business ID</p>
        </div>
        <div class="col-sm-10">
           <p>{{ review.business_id }}</p>
        </div>
    </div>
{% endif %}

{% if review.stars %}
    <div class="row">
        <div class="col-sm-2">
            <p> Stars </p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.stars }}</p>
        </div>
    </div>
{% endif %}

{% if review.text %}
    <div class="row">
        <div class="col-sm-2">
            <p> Review Text </p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.text }}</p>
        </div>
    </div>
{% endif %}

{% if review.useful %}
    <div class="row">
        <div class="col-sm-2">
            <p> Useful </p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.useful }}</p>
        </div>
    </div>
{% endif %}

{% if review.funny %}
    <div class="row">
        <div class="col-sm-2">
            <p> Funny </p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.funny }}</p>
        </div>
    </div>
{% endif %}

{% if review.cool %}
    <div class="row">
        <div class="col-sm-2">
            <p> Cool </p>
        </div>
        <div class="col-sm-10">
            <p>{{ review.cool }}</p>
        </div>
    </div>
{% endif %}

{% endblock content %}