{% extends 'YelpData/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<article>
    <header>
        <h2> Reviews </h2>
    </header>

    {% include 'YelpData/pagination.html' %}   

    {% if reviews %}
        {% for review in reviews %}
            <ul>
                <li><a href="{% url 'review_detail' review.pk %}">{{ review.review_identifier | safe }}</a></li>
            </ul>
        {% empty %}
            <p>No Reviews' information are available to view.</p>
        {% endfor %}
        <p>page count: {{ reviews.count }}</p>
    {% endif %}
</article>
{% endif %}
{% endblock content %}
    