{% extends 'YelpData/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<article>
    <header>
        <h2> Tip Inforamtion </h2>
    </header>

    {% include 'YelpData/pagination.html' %}  

    {% if tips %}
        {% for tip in tips %}
            <ul>
                <li><a href="{% url 'tip_detail' tip.pk %}">{{ tip.tip_id | safe }}</a></li>
            </ul>
        {% empty %}
            <p>No Tips' information are available to view.</p>
        {% endfor %}
        <p>page count: {{ tips.count }}</p>
    {% endif %}
</article>
{% endif %}
{% endblock content %}