{% extends 'YelpData/base.html' %}
{% block content %}

<h2> {{tip.tip_id | safe}} </h2>

{% if tip.date %}
    <div class="row">
        <div class="col-sm-2">
            <p> Tip Date </p>
        </div>
        <div class="col-sm-10">
            <p>{{ tip.date }}</p>
        </div>
    </div>
{% endif %}

{% if tip.likes %}
    <div class="row">
        <div class="col-sm-2">
            <p> Likes </p>
        </div>
        <div class="col-sm-10">
            <p>{{ tip.likes }}</p>
        </div>
    </div>
{% endif %}

{% if tip.user_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>User ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ tip.user_id | safe }}</p>
        </div>
    </div>
{% endif %}

{% if tip.business_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ tip.business_id | safe }}</p>
        </div>
    </div>
{% endif %}

{% if tip.text %}
    <div class="row">
        <div class="col-sm-2">
            <p>Business ID</p>
        </div>
        <div class="col-sm-10">
            <p>{{ tip.text | safe }}</p>
        </div>
    </div>
{% endif %}

{% endblock content %}