{% extends 'YelpData/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<article>
        <header>
            <div class="row">
                <div class="col-sm-11">
                <h2> User Information </h2>
                </div>
                <div class="col-sm-1">
                {% if user.is_authenticated %}
                    <a class="btn btn-outline-secondary" href="{% url 'user_new' %}">new</a>
                {% endif %}
                </div>
            </div>
        </header>

    {% include 'YelpData/pagination.html' %}  

    {% if users %}
        {% for user in users %}
            <ul>
                <li><a href="{% url 'user_detail' user.pk %}">{{ user.user_name | safe }}</a></li>
            </ul>
        {% empty %}
            <p>No Users' information are available to view.</p>
        {% endfor %}
        <p>page count: {{ users.count }}</p>
    {% endif %}
</article>
{% endif %}
{% endblock content %}
    