{% extends 'YelpData/base.html'%}
{% block content %}

<header>
    <div class="row">
        <div class="col-sm-10">
        <h2>{{ site.site_name | safe }}</h2>
        </div>
        <div class="col-xs-1">
        {% if user.is_authenticated %}
            <a class="btn btn-outline-secondary" href="{% url 'user_update' user.pk %}">edit</a>
        {% endif %}
        </div>
        <div class="col-xs-1">
        {% if user.is_authenticated %}
            &nbsp;<a class="btn btn-outline-warning" href="{% url 'user_delete' user.pk %}">delete</a>
        {% endif %}
        </div>
    </div>
</header>

{% if user.user_name %}
    <div class="row">
        <div class="col-sm-2">
            <p>User Name</p>
        </div>
        <div class="col-sm-10">
            {{user.user_name | safe}}
        </div>
    </div>
{% endif %}

{% if user.review_count %}
    <div class="row">
        <div class="col-sm-2">
            <p>Review Count</p>
        </div>
        <div class="col-sm-10">
            {{user.review_count | safe}}
        </div>
    </div>
{% endif %}

{% if user.yelping_since %}
    <div class="row">
        <div class="col-sm-2">
            <p>Yelp Since</p>
        </div>
        <div class="col-sm-10">
            {{user.yelping_since | safe}}
        </div>
    </div>
{% endif %}

{% if user.fans %}
    <div class="row">
        <div class="col-sm-2">
            <p>Fans</p>
        </div>
        <div class="col-sm-10">
            {{user.fans | safe}}
        </div>
    </div>
{% endif %}

{% if user.average_stars %}
    <div class="row">
        <div class="col-sm-2">
            <p>Average Stars</p>
        </div>
        <div class="col-sm-10">
            {{user.average_stars | safe}}
        </div>
    </div>
{% endif %}

{% endblock content %}