{% extends 'YelpData/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row">
        <div class="col-sm-11">
          <h2> Yelp Data Users </h2>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-secondary" href=" 'user_new' %}">new</a >
        </div>
    </div>

  <div class="row">
    <div class="col-sm-3">
      <div class="px-2 py-2" style="border:1px solid #8E8D8A;">
        <form action="" method="get">
          {{ filter.form|crispy }}
          <button type="submit" class="btn btn-outline-primary">Primary</button>
        </form>
      </div>
    </div>
    <div class="col-sm-9">

    {% include 'YelpData/pagination.html' %}
    
    {% for user in user_list %}
    <h4><a href="{% url 'user_detail' user.pk %}">{{ user.user_name|safe }}</a></h4>
    {% if user.business_names %}
      <p>{{ user.business_names }}</p>
    {% endif %}
    
{% empty %}
  Select one or more filters relevant to your search and then click "filter".
{% endfor %}
</div>
</div>
{% endblock content %}