{% extends 'YelpData/base.html'%}
{% block content %}

<header>
    <div class="row">
        <div class="col-sm-10">
        <h2>{{ user.user_name | safe }}</h2>
        </div>
        <div class="col-xs-1">
            <a class="btn btn-outline-secondary" href="{% url 'user_update' user.pk %}">edit</a>
        </div>
        <div class="col-xs-1">
            <a class="btn btn-outline-warning" href="{% url 'user_delete' user.pk %}">delete</a>
        </div>
    </div>
</header>

{% if user.user_id %}
    <div class="row">
        <div class="col-sm-2">
            <p>User ID</p>
        </div>
        <div class="col-sm-10">
            {{user.user_id | safe}}
        </div>
    </div>
{% endif %}

{% if user.user_identifier %}
    <div class="row">
        <div class="col-sm-2">
            <p>User Yelp ID</p>
        </div>
        <div class="col-sm-10">
            {{user.user_identifier | safe}}
        </div>
    </div>
{% endif %}

{% if user.review_count %}
    <div class="row">
        <div class="col-sm-2">
            <p>Review Count</p>
        </div>
        <div class="col-sm-10">
            {{user.review_count | safe}}
        </div>
    </div>
{% endif %}

{% if user.yelping_since %}
    <div class="row">
        <div class="col-sm-2">
            <p>Yelp Since</p>
        </div>
        <div class="col-sm-10">
            {{user.yelping_since | safe}}
        </div>
    </div>
{% endif %}


<div class="row">
    <div class="col-sm-2">
        <p>Fans</p>
    </div>
    <div class="col-sm-10">
        {{user.fans | safe }}
    </div>
</div>


{% if user.average_stars %}
    <div class="row">
        <div class="col-sm-2">
            <p>Average Stars</p>
        </div>
        <div class="col-sm-10">
            {{user.average_stars | safe}}
        </div>
    </div>
{% endif %}

{% endblock content %}